@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  
  .shimmer-on-hover {
    background: linear-gradient(110deg, #000103 45%, #1e2631 55%, #000103);
    background-size: 200% 100%;
    transition: background-position 0.4s ease-in-out;
  }
    .shimmer-on-hover:hover {
    animation: shimmer 1s linear;
  }
  
* {
  scrollbar-width: thin;
  scrollbar-color: #4B5563 #1F2937;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #1F2937;
}

*::-webkit-scrollbar-thumb {
  background-color: #4B5563;
  border-radius: 20px;
  border: 2px solid #1F2937;
}
